<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Center of buoyancy -->
    <xacro:property name="armsauv_cob" value="0 0 0.137"/>
    <!-- <xacro:property name="armsauv_cob" value="0 0 0"/> -->

    <!-- Vehicle's actual volume (Gazebo cannot compute the volume out of the mesh) -->
    <!-- <xacro:property name="armsauv_volume" value="${4605 / 1025}"/> -->
    <!-- <xacro:property name="armsauv_volume" value="${4539 / 1025}"/> -->
    <xacro:property name="armsauv_volume" value="${4390 / 1025}"/>

    <!-- Describing the dimensions of the vehicle's bounding box -->
    <xacro:property name="armsauv_length" value="8.534"/>
    <xacro:property name="armsauv_width"  value="2.0801"/>
    <xacro:property name="armsauv_radius"  value="0.35795"/>
    <xacro:property name="armsauv_height" value="1.4318"/>

    <xacro:property name="factor" value="0.65"/>

    <xacro:macro name="armsauv_hydro_model" params="namespace">
      <!-- List of hydrodynamic models this robot's links -->
      <link name="${namespace}/base_link">
        <!-- This flag will make the link neutrally buoyant -->
        <neutrally_buoyant>0</neutrally_buoyant>

        <!-- Link's volume -->
        <volume>${armsauv_volume}</volume>

        <!-- Link's bounding box, it is used to recalculate the immersed
        volume when close to the surface.
        This is a workaround the invalid bounding box given by Gazebo-->
        <box>
          <width>${armsauv_width}</width>
          <length>${armsauv_length}</length>
          <height>${armsauv_height}</height>
        </box>

        <!-- Center of buoyancy -->
        <center_of_buoyancy>${armsauv_cob}</center_of_buoyancy>

        <!-- 1) Fossen's equation of motion -->
        <hydrodynamic_model>
          <type>fossen</type>
          <added_mass>
            <!-- 1.432   0       0       0     0      0
            0    120.645    0       0     0    4.895
            0       0    130.513    0  -16.488   0
            0       0       0    0.386    0      0
            0       0   -16.488     0  78.266    0
            0     4.895     0       0     0    67.489 -->
            <!-- 302.286     0         0          0          0           0
            0       12996.067     0          0          0        3778.498
            0           0     7198.801       0       -138.636       0
            0           0         0       2435.827      0           0
            0           0     -138.636        0       40597.109     0
            0       3778.498      0           0         0        42452.977 -->
            <!-- 302.286     0         0          0          0           0
            0       12996.067     0          0          0           0
            0           0     7198.801       0          0           0
            0           0         0       2435.827      0           0
            0           0         0          0       40597.109      0
            0           0         0          0         0        42452.977 -->
            <!-- 302.286     0        0          0          0          0
            0       12996.067    0      -1486.934      0       -3778.498
            0           0     7198.801      0       138.636       0
            0       -1486.934    0       2435.827      0        85.834
            0           0     138.636       0       40597.109     0
            0       -3778.498    0        85.834       0        42452.977 -->
  ${302.285 * factor}         0               0               0               0               0
            0     ${12996.067 * factor}       0    ${-1486.934 * factor}      0       ${-3778.498 * factor}  
            0                 0     ${7198.802 * factor}      0       ${138.636 * factor}      0
            0       ${-1486.934 * factor}     0     ${2435.827 * factor}      0         ${85.834 * factor}
            0                 0     ${138.636 * factor}       0      ${40597.109 * factor}     0
            0       ${-3778.498 * factor}     0    ${85.834 * factor}         0       ${42452.977 * factor}
            <!-- 302.285     0         0          0         0           0
            0       12996.067     0          0         0           0
            0           0     7198.802       0         0           0
            0           0         0       2435.827     0           0
            0           0         0        0      40597.109        0
            0           0         0          0         0       42452.977 -->
          </added_mass>
          <!--
            The linear damping coefficients can be provided as a diagonal (6 elements)
            or a full matrix (36 coefficients), like the added-mass coefficients above
          -->
          <linear_damping>
            0      0      0      0     0     0
            0      0      0      0     0     0
            0      0      0      0     0     0
            0      0      0      0     0     0
            0      0      0      0     0     0
            0      0      0      0     0     0
          </linear_damping>
          <!--
            The linear damping coefficients proportional to the forward speed
            can be provided as a diagonal (6 elements) or a full matrix (36 coefficients),
            like the added-mass coefficients above.
            This matrix is mostly useful for slender bodies (e.g. AUVs with torpedo shape)
          -->
          <linear_damping_forward_speed>
            0 0 0 0 0 0
          </linear_damping_forward_speed>
          <!--
            The quadratic damping coefficients can be provided as a diagonal (6 elements)
            or a full matrix (36 coefficients), like the added-mass coefficients above
          -->
          <quadratic_damping>
          -3.9     0      0      0     0      0
            0  -373.287   0      0     0   -4.204
            0      0  -489.07    0  23.016    0
            0      0      0   -0.117   0      0
            0      0   23.342    0 -353.406   0
            0   0.419     0      0     0  -227.024
          </quadratic_damping>
        </hydrodynamic_model>

      </link>
    </xacro:macro>

</robot>
