<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Mount a GPS. -->
  <xacro:default_gps namespace="${namespace}" parent_link="${namespace}/base_link" />

  <!-- Mount a Virtual Pose Sensor-->
  <xacro:pose_3d_macro
      	  namespace="${namespace}"
      	  parent_link="${namespace}/base_link"
      	  topic="pose_gt"
      	  update_rate="10"
      	  noise_sigma="0.0"
      	  noise_amplitude="0.0"
      	  suffix=""
      	  reference_frame="world"
      	  publish_ned_odom="false">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:pose_3d_macro>

  <!--<xacro:macro name="forward_multibeam_p900" params="namespace">
    <xacro:multibeam_sonar
      namespace="${namespace}"
      suffix=""
      parent_link="${namespace}/base_link"
      topic="forward_multibeam"
      mass="0.02"
      update_rate="15"
      samples="512"
      fov="1.5708"
      range_min="1.0"
      range_max="100.0"
      range_stddev="0.027"
      mesh="">
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
      <origin xyz="0.75 0 -0.3" rpy="0 0 0"/>
      <visual>
        <geometry>
          <mesh filename="file://$(find uuv_sensor_ros_plugins)/meshes/p900.dae" scale="0.5 0.5 0.5"/>
        </geometry>
      </visual>
    </xacro:multibeam_sonar>
  </xacro:macro>-->

  <!-- DVL  -->
  <xacro:default_dvl namespace="${namespace}" parent_link="${namespace}/base_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:default_dvl>

  <!-- Mount a Pressure Sensor -->
  <xacro:macro name="arms_pressure" params="namespace">
    <xacro:pressure_plugin_macro
      namespace="${namespace}"
      suffix=""
      parent_link="${namespace}/base_link"
      topic="pressure"
      mass="0.001"
      update_rate="10"
      range="30000"
      noise_sigma="3.0"
      noise_amplitude="0.0"
      estimateDepth="false"
      standardPressure="101.325"
      kPaPerM="9.80638">
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:pressure_plugin_macro>
  </xacro:macro>

  <!-- Mount an IMU -->
  <xacro:macro name="arms_imu" params="namespace">
    <!-- ADIS16448 IMU. -->
    <xacro:imu_plugin_macro
      namespace="${namespace}"
      imu_suffix=""
      parent_link="${namespace}/base_link"
      imu_topic="imu"
      mass_imu_sensor="0.001"
      gyroscope_noise_density="0.0003394"
      gyroscope_random_walk="0.000038785"
      gyroscope_bias_correlation_time="1000.0"
      gyroscope_turn_on_bias_sigma="0.0087"
      accelerometer_noise_density="0.004"
      accelerometer_random_walk="0.006"
      accelerometer_bias_correlation_time="300.0"
      accelerometer_turn_on_bias_sigma="0.1960"
      orientation_noise="0.01"
      enable_local_ned_frame="false"
      reference_frame="world"
      update_rate="50">
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:imu_plugin_macro>
  </xacro:macro>

  <!-- Mount the chemical concentration sensor -->
  <xacro:chemical_concentration_sensor_macro
      namespace="${namespace}"
      suffix=""
      reference_frame="world"
      parent_link="${namespace}/base_link"
      input_topic="/plume/particles"
      output_topic="particle_concentration"
      update_rate="2"
      gamma="0.001"
      water_salinity_value="35.0"
      plume_salinity_value="1.0"
      salinity_output_topic="salinity"
      salinity_unit="ppt"
      gain="5.0"
      noise_sigma="0.01"
      noise_amplitude="1"
      radius="50.0">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:chemical_concentration_sensor_macro>
</robot>
